#!/usr/bin/env ansible-playbook
# https://wiki.termux.com/wiki/Switching_package_manager
---
- hosts: termux,localhost
  # connection: local
  gather_facts: true
  gather_subset:
    - "env"
    - "!all"
    - "!min"
  name: switch to pacman package manager
  vars:
    # Set proper interpreter even if not connection: local
    # https://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
    prefix_dir: "{{ ansible_env.PREFIX }}"
    root_dir: "{{ prefix_dir | dirname }}"
    dest_dir: "{{ root_dir }}/usr-pacman"
    apt_dir: "{{ root_dir }}/usr-apt"
    backup_dir: "{{ root_dir }}/usr-backup"
  tasks:
    - name: mkdir $PREFIX/usr-pacman
      ansible.builtin.file:
        path: "{{ dest_dir }}"
        state: directory
    - name: download and unzip pacman bootstrap package
      ansible.builtin.unarchive:
        src: "https://github.com/termux-pacman/termux-packages/releases/latest/download/bootstrap-aarch64.zip"
        dest: "{{ dest_dir }}"
        remote_src: yes
    - name: create symlinks
      ansible.builtin.shell: |
        cat SYMLINKS.txt | awk -F "â†" '{system("ln -s '"'"'"$1"'"'"' '"'"'"$2"'"'"'")}'
        touch .pacman-done
      args:
        chdir: "{{ dest_dir }}"
        creates: "{{ dest_dir }}/.pacman-done"
    - name: backup old usr directory
      # Use system bin tools as usr is getting moved
      # https://wiki.termux.com/wiki/Recover_a_broken_environment
      # NOTE: symlinking gave pacman errors so moving instead
      # /system/bin/ln -s usr-pacman {{ prefix_dir }}
      ansible.builtin.shell: |
        cat > undopac << EOF
        set -x
        mv {{ prefix_dir }} {{ dest_dir }}
        /system/bin/mv {{ backup_dir }} {{ prefix_dir }}
        EOF

        chmod +x undopac
        ln -s undopac up

        mv {{ prefix_dir }} {{ backup_dir }}
        /system/bin/mv {{ dest_dir }} {{ prefix_dir }}

        pacman -Sy
        pacman-key --init
        pacman-key --populate
        pacman -S --needed --noconfirm python python-pip openssh
      args:
        chdir: "{{ root_dir }}"
    - name: see if pacman works with ssh
      ansible.builtin.command: ps aux
      changed_when: false
